.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem {
    flex: 1;
    margin: 0 20px;
    padding: 30px;
    border: 1p solid #dddbdb;
    box-shadow: 2px 9px 23px 2px rgba(0,0,0,0.36);
    -webkit-box-shadow: 2px 9px 23px 2px rgba(0,0,0,0.36);
    -moz-box-shadow: 2px 9px 23px 2px rgba(0,0,0,0.36);
    border-radius: 4px;
    cursor: pointer;
}

.featuredTitle {
    font-size: 20px;
}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.featuredMoney{
    font-size: 30px;
    font-weight: bold;
}

.featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.featuredIcon {
   font-size: 14px;
   margin-left: 5px; 
   color: green;
}
.featuredIcon.negative {
    color: red;
}

.featuredSub{
    font-size: 14px;
    color: gray;
}