.userList {
    flex: 4;
}

.userListUser {
    display: flex;
    align-items: center;
    align-content: center;
}

.userListImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;

}

.userListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #10f710;
    color: #e7eaee;
    cursor: pointer;
    margin-right: 10px;
}

.userListDelete {
    color: red;
    cursor: pointer;
}

